.logo__Header{
    width: 20%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img__logo__Header{
    width:51px;
    height:50px;
    background-image: url('./logo__header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.txt__logo__Header{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: left;    
    color: #fff;
    margin-left: 13px;
}
.txt__logo__Header:hover{
    font-weight: 900;
    cursor: pointer;
    transition: 0.2s;
}
@media only screen and (max-width:1200px) {
    .txt__logo__Header{
        font-size: 17px;
    }
}
@media only screen and (max-width:1105px) {
    .txt__logo__Header{
        font-size: 15px;
    }
    .img__logo__Header{
        width: 48px;
        height: 47px;
    }
}
@media only screen and (max-width:1030px) {
    .logo__Header{
        width: 10%;
    }
    .txt__logo__Header{
        display: none;
    }
}
@media only screen and (max-width:670px){
    .logo__Header{
        width: fit-content;
    }
    .txt__logo__Header{
        display: none;
    }
}