.NavHeader{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.NavHeader nav{
    margin: 0 23px;
}
.NavHeader nav a{
    color: #fff;
    text-decoration: none;
    font-family: "Comfortaa";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    transition: 0.2s;
}
.NavHeader nav a:hover{
    text-decoration-line: underline;
    transition: 0.1s;
    cursor: pointer;
    text-underline-offset: 15px;
}
.menu__NavHeader{
    display: none;

}
@media only screen and (max-width:1130px) {
    .NavHeader nav a{
        font-size: 14.5px;
    }
}
@media only screen and (max-width:1030px) {
    .NavHeader{
        width: 70%;
    }
}
@media only screen and (max-width:965px) {
    .NavHeader nav a{
        font-size: 13px;
    }
}
@media only screen and (max-width:800px) {
    .NavHeader{
        justify-content: flex-end;
        padding-right: 20px;
    }
  .menu__NavHeader{
    display: flex;
  }
  .a__Nav{
    display: none;
  }
}
@media only screen and (max-width:670px) {
    .NavHeader{
       width: fit-content;
    }
}